@import './reset.css';
@import './variables.css';
@import './responsive.css';

body {
    background-color: var(--color-bleached-silk);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300px;
    /* height: 450px; */
    /* background-color: var(--color-scarabaeus-sacer); */
    background-color: var(--color-black-wash);
    transform-origin: 0;
    transform: skewY(-10deg);
    box-shadow: var(--box-shadow);
}

p {
    font-family: var(--font-secondary);
}

.profile-name, .header, .project-title {
    font-weight: var(--font-weight-medium);
}

#hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;   
    margin-bottom: var(--spacing-xl);
}

.header {
    font-size: var(--font-size-xl);
    text-align: center;
    color: var(--color-scarabaeus-sacer);    
}

#about .header {
    color: var(--color-bleached-silk);
}

.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: var(--spacing-l);
}

.profile-image {
    width: 100%;
    aspect-ratio: auto;
    object-fit: contain;
    box-shadow: var(--box-shadow);
    display: block;
    border-radius: 4px;
}

.profile-name {
    width: 70%;
    font-size: var(--font-size-xxl);
    color: var(--color-bleached-silk);   
    position: absolute;
    bottom: var(--spacing-l);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-shadow: 1px 2px 4px var(--color-box-shadow);
    backdrop-filter: blur(10px);
}

.profile-description {
    font-size: var(--font-size-base);
    color: var(--color-industrial-revolution);
    padding: var(--spacing-l);
}

.profile-social {
    display: flex;
    gap: var(--spacing-base);
    font-size: var(--font-size-xl);
    justify-content: center;
    align-items: center;
    color: var(--color-scarabaeus-sacer);
}

#about .profile-social {
    color: var(--color-silver);
}

.social {
    font-size: var(--font-size-xl);
    text-decoration: none;
    color: inherit;
}

.profile-social a:hover {
    transform: scale(1.1);
    color: var(--color-red);
    transition: all 0.2s ease;
}

#projects {
    width: 100%;
    max-width: 1200px;
    /* margin: var(--spacing-xl) 0; */
    padding: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
}

#projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--spacing-l);
    /* padding: var(--spacing-l); */
}

.project-card {
    background-color: var(--color-bleached-silk);
    box-shadow: var(--box-shadow-light);
    overflow: hidden;
    display: flex;
    flex-direction: column;    
    padding: var(--spacing-base);
    border-radius: 4px;    
    filter: grayscale(100%);
    /* gap: var(--spacing-s); */
}

.project-card:hover {
    /* transform: scale(1.01); */
    box-shadow: var(--box-shadow);
    filter: grayscale(0%);
    transition: all 0.2s ease;
}

.project-card .project-image {
    width: 100%;
    height: 250px;    
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: var(--spacing-base);
}

.project-card .project-header {
    display: flex;
    width: 100%;
}

.project-card .project-header .project-title {
    font-size: var(--font-size-l);
    text-align: left;
    color: var(--color-scarabaeus-sacer);
}

.project-card .project-header .action-buttons {
    margin-left: auto;
    display: flex;
    gap: var(--spacing-s);
    padding: var(--spacing-s);   
}

.project-card .project-header .action-buttons .icon {
    width: 24px;
    height: 24px;
    color: var(--color-scarabaeus-sacer);
}

.project-card .project-header .action-buttons .icon:hover {  
    transform: scale(1.1);
    color: var(--color-red);
    transition: all 0.2s ease;
}

.project-description {
    color: var(--color-industrial-revolution);
}

#about {
    background-color: var(--color-black-wash);
    /* background-color: var(--color-scarabaeus-sacer); */
    color: var(--color-silver);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-xl);
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    padding: var(--spacing-xl);
}

.contact-phone, 
.contact-email {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    justify-content: left;
    color: var(--color-silver);
}

.contact-phone svg, 
.contact-email svg {
    width: 24px;
    height: 24px;
}

.contact-phone a,
.contact-email a {
    color: var(--color-silver);
    text-decoration: none;
}

.contact-phone a:hover,
.contact-email a:hover {
    color: var(--color-red);
    transition: all 0.2s ease;
}

.about-image {
    width: 100%;
}

footer {
    color: var(--color-black-wash);
    width: 100%;
    text-align: center;
    padding: var(--spacing-s);
    margin-top: auto;
}