:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Source Sans 3', sans-serif;
    --font-monospace: 'JetBrains Mono', monospace;
    --font-size-base: 16px;
    --font-size-s: 14px;
    --font-size-l: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 48px;
    --font-size-xxxl: 64px;
    --font-weight-normal: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 800;
    /* --color-primary: #3c72c4;
    --color-secondary: #f0f0f0;
    --color-font-dark-primary: black;
    --color-font-dark-secondary: #333333;
    --color-font-light-primary: white;
    --color-font-light-secondary: #f0f0f0;     */

    --color-bleached-silk: #F2F2F2;     /* Lightest - backgrounds, cards */
    --color-silver: #BFBFBF;            /* Light gray - borders, secondary elements */
    --color-industrial-revolution: #737373; /* Medium gray - body text */
    --color-scarabaeus-sacer: #404040;  /* Dark gray - headings, primary text */
    --color-black-wash: #0D0D0D;        /* Darkest - accents, high contrast */
    --color-box-shadow: #0D0D0D4D;  /* 30% opacity for shadows */
    --color-red: #EA4A26;

    --spacing-s: 8px;
    --spacing-base: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --border-radius: 8px;
    --box-shadow: 0 4px 12px var(--color-box-shadow);
    --box-shadow-light: 0 2px 4px var(--color-box-shadow);
    --max-widtdh: 1200px;
}