:root {
    --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary: 'Courier New', Courier, monospace;
    --font-size-base: 16px;
    --font-size-s: 14px;
    --font-size-l: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 64px;
    --color-primary: #3c72c4;
    --color-secondary: #f0f0f0;
    --color-font-dark-primary: black;
    --color-font-dark-secondary: #333333;
    --color-font-light-primary: white;
    --color-font-light-secondary: #f0f0f0;    
    --spacing-s: 8px;
    --spacing-base: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --border-radius: 8px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}